body{
    background-color: #ededed;
}

a.navbar-home{
    background-color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin-left: 10px;
    font-size: 25px;
}

.Navbar{
    padding: 0px 150px 0px 60px;
}

a.nav-link{
    font-weight: inherit;
    color: rgb(0,0,0)
}

.navbar-light .navbar-home{
    color: rgb(255,255,255);
}

.navbar-icon.drop-down.show{
    background-color: #ddd;
    color: black;
}

.dropdown-menu{
    margin: 0;
}

nav li{
    margin-right: 20px;
    content: ' ▾'
}

nav a{
    color: black;
    text-align: auto;
    margin-top: 0%;   
}

.collapse-navbar{
    margin: 0;
    content: ' ▾'
}

li .nav-item{
    margin-top: 4px;
}

.col-md-12{
    background-color: white;
    padding: 25px;
    margin-top: 40px;
}
.col-md-4{
    float: right;
}
.container h1{
    font-family: 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}

.container h2{
    font-family:'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}

h4 {
    font-family: 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
    text-align: center;
}

.main-image{
    width: 80%;
    padding: 8px;
}

.img-with-text{
    text-align: justify;
    width: 100%;
}
.img-with-text img {
    display: block;
    margin: 0 auto;
}

.img-border {
    border-style: solid;
    border-color: #4aaaa5;
    border-width: thin;
}
li .dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    display: flex;
}
.navbar-toggler{
    float: right;
    padding: 0;
    display: flex;
    margin: 0;
    text-align: auto;
    text-decoration: none;
}
.container{
    width: 1024px;
    margin: 0 auto;
}
.col-md-12 p{
    text-align: center;
}


.dataframe{
    align-items: center;

    width: 100%;
    border-collapse: collapse;
    border: 3px #4aaaa5;
}
@media (max-width: 900px) {
    .navbar-expand-1g {
        background-color: #4aaaa5 !important;
    }
    .Navbar{
        padding: inherit;
    }
    .Navbar div {
        background-color: white;
    }
    .navbar-home {
        padding: 10px;
    }
    button{
        margin-right: 60px;
    }
    .navbar-light .navbar-toggler {
        color: #575555;
        border-color: #ffffff;
    }
    .dataframe{
        width: 50%;
    }
}
